In [1]:
from Scripts import (
    prices,
    alvos,
    features,
    result_predict,
    split_data,
    machines
)

In [2]:
# dict_prices = prices.Prices.get_setor_B3('IBHB')
df = prices.Prices.get('VALE3.SA')

In [3]:
df = alvos.Alvos(df, p=1).A_BINARIO
df

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario
Date,,,,,,,,,
2000-01-03,1.534402,3.500000,3.542500,3.500000,3.500000,585600,2000-01-04,-0.050000,0.0
2000-01-04,1.497868,3.416666,3.474166,3.416666,3.466666,782400,2000-01-05,0.041666,1.0
2000-01-05,1.497868,3.416666,3.416666,3.375000,3.375000,1876800,2000-01-06,0.000000,0.0
2000-01-06,1.497868,3.416666,3.500000,3.416666,3.416666,792000,2000-01-07,0.083333,1.0
2000-01-07,1.552668,3.541666,3.559166,3.458333,3.458333,5347200,2000-01-10,0.083333,1.0
...,...,...,...,...,...,...,...,...,...
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,2024-11-21,0.119999,1.0
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,2024-11-22,0.740002,1.0
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,2024-11-25,-0.010002,0.0
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,2024-11-26,-0.639999,0.0
2024-11-26,57.650002,57.650002,58.490002,57.610001,58.290001,5015400,NaT,NaN,NaN

In [4]:
__features__ = [1, 2]

df = features.Features(df).get(__features__)
df

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,,
2000-01-03,1.534402,3.500000,3.542500,3.500000,3.500000,585600,2000-01-04,-0.050000,0.0,NaN,NaN
2000-01-04,1.497868,3.416666,3.474166,3.416666,3.466666,782400,2000-01-05,0.041666,1.0,-0.083334,-0.033334
2000-01-05,1.497868,3.416666,3.416666,3.375000,3.375000,1876800,2000-01-06,0.000000,0.0,0.000000,-0.091666
2000-01-06,1.497868,3.416666,3.500000,3.416666,3.416666,792000,2000-01-07,0.083333,1.0,0.000000,0.041666
2000-01-07,1.552668,3.541666,3.559166,3.458333,3.458333,5347200,2000-01-10,0.083333,1.0,0.125000,0.041667
...,...,...,...,...,...,...,...,...,...,...,...
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,2024-11-21,0.119999,1.0,0.130001,0.709999
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,2024-11-22,0.740002,1.0,-0.060001,-0.299999
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,2024-11-25,-0.010002,0.0,0.560001,-0.060001
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,2024-11-26,-0.639999,0.0,-0.010002,0.740002
2024-11-26,57.650002,57.650002,58.490002,57.610001,58.290001,5015400,NaT,NaN,NaN,-0.519997,0.110001

In [5]:

sd = split_data.SplitData(df, '2016-02-01', '2021-02-01', step_size=365)

train = sd.train()
test = sd.test()
after_test = sd.after_test()

In [6]:


train

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,,
2017-01-31,18.653191,32.180000,32.950001,32.110001,32.700001,4067300,2017-02-01,0.189999,1.0,-0.070000,-0.520000
2017-02-01,19.064743,32.889999,33.509998,32.680000,32.700001,5928500,2017-02-02,0.250000,1.0,0.709999,0.000000
2017-02-02,18.931425,32.660000,33.439999,32.410000,32.410000,4024400,2017-02-03,-1.389999,0.0,-0.230000,-0.290001
2017-02-03,17.743139,30.610001,32.000000,30.389999,32.000000,6833500,2017-02-06,-0.740000,0.0,-2.049999,-0.410000
2017-02-06,17.343178,29.920000,30.770000,29.870001,30.660000,3554600,2017-02-07,-0.400000,0.0,-0.690001,-1.340000
...,...,...,...,...,...,...,...,...,...,...,...
2019-07-23,32.604301,51.759998,52.599998,51.759998,52.400002,11146800,2019-07-24,-0.439999,0.0,-0.690002,0.220001
2019-07-24,31.905096,50.650002,51.259998,50.549999,51.090000,25121800,2019-07-25,-0.509998,0.0,-1.109997,-1.310001
2019-07-25,31.804312,50.490002,51.119999,50.099998,51.000000,12761900,2019-07-26,-0.770000,0.0,-0.160000,-0.090000
2019-07-26,31.640530,50.230000,51.049999,50.180000,51.000000,12604500,2019-07-29,-0.040001,0.0,-0.260002,0.000000
2019-07-29,31.659426,50.259998,50.599998,49.799999,50.299999,8462200,2019-07-30,-0.160000,0.0,0.029999,-0.700001

In [7]:
test

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,,
2019-07-30,31.501947,50.009998,50.580002,50.009998,50.169998,10182500,2019-07-31,-0.570000,0.0,-0.250000,-0.130001
2019-07-31,31.375971,49.810001,50.549999,49.220001,50.380001,23244900,2019-08-01,-0.840000,0.0,-0.199997,0.210003
2019-08-01,30.487791,48.400002,49.340000,48.250000,49.240002,45701400,2019-08-02,-0.360001,0.0,-1.410000,-1.139999
2019-08-02,30.135036,47.840000,48.290001,47.410000,48.200001,19834300,2019-08-05,-0.599998,0.0,-0.560001,-1.040001
2019-08-05,28.975998,46.000000,46.599998,45.759998,46.599998,36490300,2019-08-06,0.160000,1.0,-1.840000,-1.600002
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-26,66.804001,84.300003,86.559998,83.820000,85.900002,25806800,2022-01-27,-0.510002,0.0,0.240005,1.840004
2022-01-27,66.954567,84.489998,85.459999,83.269997,85.000000,20994900,2022-01-28,-1.919998,0.0,0.189995,-0.900002
2022-01-28,66.296829,83.660004,86.349998,82.830002,85.580002,28453000,2022-01-31,-2.070000,0.0,-0.829994,0.580002
2022-01-31,64.085869,80.870003,82.940002,80.870003,82.940002,31397700,2022-02-01,3.809998,1.0,-2.790001,-2.639999
2022-02-01,67.604378,85.309998,85.330002,81.370003,81.500000,24131300,2022-02-02,0.290001,1.0,4.439995,-1.440002

In [8]:
after_test

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__
Date,,,,,,,,,,,
2022-02-02,67.984756,85.790001,86.290001,84.720001,85.500000,17489000,2022-02-03,-0.550003,0.0,0.480003,4.000000
2022-02-03,67.953064,85.750000,86.779999,85.320000,86.300003,19179400,2022-02-04,2.250000,1.0,-0.040001,0.800003
2022-02-04,69.736092,88.000000,88.169998,85.550003,85.750000,24535400,2022-02-07,1.979996,1.0,2.250000,-0.550003
2022-02-07,71.424019,90.129997,90.239998,88.150002,88.150002,24915800,2022-02-08,0.940002,1.0,2.129997,2.400002
2022-02-08,72.422523,91.389999,91.480003,89.500000,90.449997,26598600,2022-02-09,1.410004,1.0,1.260002,2.299995
...,...,...,...,...,...,...,...,...,...,...,...
2024-11-18,57.549999,57.549999,57.779999,56.970001,57.090000,14300000,2024-11-19,-0.119999,0.0,0.709999,-0.070000
2024-11-19,57.680000,57.680000,57.980000,57.459999,57.799999,12902100,2024-11-21,0.119999,1.0,0.130001,0.709999
2024-11-21,57.619999,57.619999,57.799999,57.209999,57.500000,15428500,2024-11-22,0.740002,1.0,-0.060001,-0.299999
2024-11-22,58.180000,58.180000,58.270000,57.250000,57.439999,12590500,2024-11-25,-0.010002,0.0,0.560001,-0.060001
2024-11-25,58.169998,58.169998,58.560001,58.119999,58.180000,17444500,2024-11-26,-0.639999,0.0,-0.010002,0.740002

In [9]:
train[[f'__{f}__' for f in __features__]]

               __1__     __2__
Date
2017-01-31 -0.070000 -0.520000
2017-02-01  0.709999  0.000000
2017-02-02 -0.230000 -0.290001
2017-02-03 -2.049999 -0.410000
2017-02-06 -0.690001 -1.340000
...              ...       ...
2019-07-23 -0.690002  0.220001
2019-07-24 -1.109997 -1.310001
2019-07-25 -0.160000 -0.090000
2019-07-26 -0.260002  0.000000
2019-07-29  0.029999 -0.700001

[622 rows x 2 columns]

In [10]:
ml = machines.Machines(train, test, after_test, __features__)
model = ml.train_decision_tree()
train = ml.predict_train(model)
test = ml.predict_test(model)
after_test = ml.predict_after_test(model)

In [11]:
ml.evaluate()

{'train': {'accuracy': 0.5884244372990354,
  'precision': np.float64(0.5571095571095571),
  'recall': np.float64(0.7836065573770492),
  'f1_score': np.float64(0.6512261580381471),
  'confusion_matrix': [[127, 190], [66, 239]]},
 'test': {'accuracy': 0.5024077046548957,
  'precision': np.float64(0.47411444141689374),
  'recall': np.float64(0.5979381443298969),
  'f1_score': np.float64(0.5288753799392097),
  'confusion_matrix': [[139, 193], [117, 174]]},
 'after_test': {'accuracy': 0.4900568181818182,
  'precision': np.float64(0.44562899786780386),
  'recall': np.float64(0.6785714285714286),
  'f1_score': np.float64(0.5379665379665379),
  'confusion_matrix': [[136, 260], [99, 209]]}}

In [12]:
train

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__,predicao
Date,,,,,,,,,,,,
2017-01-31,18.653191,32.180000,32.950001,32.110001,32.700001,4067300,2017-02-01,0.189999,1.0,-0.070000,-0.520000,1.0
2017-02-01,19.064743,32.889999,33.509998,32.680000,32.700001,5928500,2017-02-02,0.250000,1.0,0.709999,0.000000,1.0
2017-02-02,18.931425,32.660000,33.439999,32.410000,32.410000,4024400,2017-02-03,-1.389999,0.0,-0.230000,-0.290001,1.0
2017-02-03,17.743139,30.610001,32.000000,30.389999,32.000000,6833500,2017-02-06,-0.740000,0.0,-2.049999,-0.410000,0.0
2017-02-06,17.343178,29.920000,30.770000,29.870001,30.660000,3554600,2017-02-07,-0.400000,0.0,-0.690001,-1.340000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-23,32.604301,51.759998,52.599998,51.759998,52.400002,11146800,2019-07-24,-0.439999,0.0,-0.690002,0.220001,1.0
2019-07-24,31.905096,50.650002,51.259998,50.549999,51.090000,25121800,2019-07-25,-0.509998,0.0,-1.109997,-1.310001,1.0
2019-07-25,31.804312,50.490002,51.119999,50.099998,51.000000,12761900,2019-07-26,-0.770000,0.0,-0.160000,-0.090000,1.0
2019-07-26,31.640530,50.230000,51.049999,50.180000,51.000000,12604500,2019-07-29,-0.040001,0.0,-0.260002,0.000000,1.0
2019-07-29,31.659426,50.259998,50.599998,49.799999,50.299999,8462200,2019-07-30,-0.160000,0.0,0.029999,-0.700001,1.0

In [13]:
rp = result_predict.ResultPredict(train, test, after_test, lotes=0)
train = rp.calcula_train_day()
test = rp.calcula_test_day()
after_test = rp.calcula_after_test_day()

train

,Adj Close,Close,High,Low,Open,Volume,date_target,variacao_absoluta,alvo_binario,__1__,__2__,predicao,resultado_predicao,resultado_predicao_acumulado
Date,,,,,,,,,,,,,,
2017-01-31,18.653191,32.180000,32.950001,32.110001,32.700001,4067300,2017-02-01,0.189999,1.0,-0.070000,-0.520000,1.0,0.189999,0.189999
2017-02-01,19.064743,32.889999,33.509998,32.680000,32.700001,5928500,2017-02-02,0.250000,1.0,0.709999,0.000000,1.0,0.250000,0.439999
2017-02-02,18.931425,32.660000,33.439999,32.410000,32.410000,4024400,2017-02-03,-1.389999,0.0,-0.230000,-0.290001,1.0,-1.389999,-0.950001
2017-02-03,17.743139,30.610001,32.000000,30.389999,32.000000,6833500,2017-02-06,-0.740000,0.0,-2.049999,-0.410000,0.0,0.740000,-0.210001
2017-02-06,17.343178,29.920000,30.770000,29.870001,30.660000,3554600,2017-02-07,-0.400000,0.0,-0.690001,-1.340000,1.0,-0.400000,-0.610001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-23,32.604301,51.759998,52.599998,51.759998,52.400002,11146800,2019-07-24,-0.439999,0.0,-0.690002,0.220001,1.0,-0.439999,75.819954
2019-07-24,31.905096,50.650002,51.259998,50.549999,51.090000,25121800,2019-07-25,-0.509998,0.0,-1.109997,-1.310001,1.0,-0.509998,75.309956
2019-07-25,31.804312,50.490002,51.119999,50.099998,51.000000,12761900,2019-07-26,-0.770000,0.0,-0.160000,-0.090000,1.0,-0.770000,74.539955
2019-07-26,31.640530,50.230000,51.049999,50.180000,51.000000,12604500,2019-07-29,-0.040001,0.0,-0.260002,0.000000,1.0,-0.040001,74.499954
2019-07-29,31.659426,50.259998,50.599998,49.799999,50.299999,8462200,2019-07-30,-0.160000,0.0,0.029999,-0.700001,1.0,-0.160000,74.339954

In [15]:
from pprint import pprint

pprint(rp.evaluate())

{'after_test': {'average_daily_returns': np.float64(-0.010752900080247358),
                'average_monthly_returns': np.float64(-0.015027497591010111),
                'average_quarterly_return': np.float64(-0.007762332013002252),
                'average_weekly_returns': np.float64(-0.018598014814359642)},
 'test': {'average_daily_returns': np.float64(0.015473655100618855),
          'average_monthly_returns': np.float64(-0.016151854625740317),
          'average_quarterly_return': np.float64(0.012034811017587526),
          'average_weekly_returns': np.float64(0.023016548156738287)},
 'train': {'average_daily_returns': np.float64(0.11951761153733231),
           'average_monthly_returns': np.float64(0.12030706382741682),
           'average_quarterly_return': np.float64(0.11209826047512396),
           'average_weekly_returns': np.float64(0.10762970295874517)}}