In [1]:
from yfinance import download

# PREDIÇÃO DE DADOS BINÁRIOS

Predição da série dos retornos de ativos financeiros

In [14]:
ticker = 'GOAU4.SA'
start = '2012-05-12'
end = '2022-05-12'
column_variacao_percentual = 'Adj Close'
periodos_alvo = 1

In [24]:
df_price = download(ticker, start, end, progress=False)
df_price.tail(2)

Price      Adj Close    Close     High      Low     Open    Volume
Ticker      GOAU4.SA GOAU4.SA GOAU4.SA GOAU4.SA GOAU4.SA  GOAU4.SA
Date
2022-05-10  8.179797    10.78    11.30    10.60     11.3  11194400
2022-05-11  8.498492    11.20    11.34    10.83     10.9   9818700

![alt text](Screenshot_1.png)

In [25]:
df_price['variacao_percentual'] = df_price[column_variacao_percentual].pct_change(periodos_alvo)
df_price.tail(2)

Price,Adj Close,Close,High,Low,Open,Volume,variacao_percentual
Ticker,GOAU4.SA,GOAU4.SA,GOAU4.SA,GOAU4.SA,GOAU4.SA,GOAU4.SA,
Date,,,,,,,
2022-05-10,8.179797,10.78,11.30,10.60,11.3,11194400,-0.054386
2022-05-11,8.498492,11.20,11.34,10.83,10.9,9818700,0.038961