In [1]:
from Scripts import (
    prices,
    alvos
)

In [2]:
dict_prices = prices.Prices.get_setor_B3('IBHB')

 [*********************100%***********************]  28 of 28 completed

In [3]:
dict_prices['ALOS3.SA']

            Adj Close      Close       High        Low       Open    Volume
Date
2023-10-18  20.631132  21.990000  23.219999  21.900000  23.059999  11414800
2023-10-19  20.602982  21.959999  22.270000  21.809999  22.010000   6982300
2023-10-20  20.659277  22.020000  22.049999  21.360001  21.820000   4901300
2023-10-23  21.447369  22.860001  22.990000  21.809999  21.850000   6902500
2023-10-24  21.888327  23.330000  23.629999  22.959999  23.200001   5883300
...               ...        ...        ...        ...        ...       ...
2024-11-14  21.852562  21.950001  22.200001  21.620001  21.639999   3719900
2024-11-18  21.563848  21.660000  21.850000  21.549999  21.790001   3499100
2024-11-19  21.680000  21.680000  21.700001  21.330000  21.559999   2952900
2024-11-21  21.080000  21.080000  21.450001  21.000000  21.410000   6683200
2024-11-22  21.450001  21.450001  21.500000  20.920000  21.260000  10065300

[275 rows x 6 columns]

In [4]:
alvos.Alvos(dict_prices['ALOS3.SA']).BINARIO

Date
2023-10-18   -1.070000
2023-10-19   -0.050001
2023-10-20    0.200001
2023-10-23    1.010000
2023-10-24    0.129999
                ...
2024-11-14    0.310001
2024-11-18   -0.130001
2024-11-19    0.120001
2024-11-21   -0.330000
2024-11-22    0.190001
Length: 275, dtype: float64